.header-img{
  width: 100%;
  height: 85px;
  position: relative;
  overflow: hidden;
  .left{
      width: 50%;
      height: 85px;
      float: left;
      img{
          position: absolute;
          top: 0;
          right: 50%;
      }
  }
  .right{
      width: 50%;
      height: 85px;
      float: right;
      img{
          position: absolute;
          top: 0;
          left: 50%;
      }
  }
}

//头部导航栏
.header{
  width: 100%;
  background: #f2f2f2;
  .w1200{
      width: 1200px;
      height: 28px;
      margin: auto;
      position: relative;
      .nav{
          width: 100%;
          height: 28px;
          .content{
              position: absolute;
              top: 0;
              right: 0;
              float: right;
              height: 28px;
              line-height: 28px;
              .login{
                  float: left;
                  height: 28px;
                  width: 90px;
                  a{
                      float: left;
                      display: block;
                      font-size: 13px;
                      color: #5a5a5a;
                  }
                  i{
                      font-size: 13px;
                      float: left;
                      color: #d9d9d9;
                      margin: 0 10px;
                  }
              }
              .nav_list{
                  position: relative;
                  float: left;
                  padding: 0 10px;
                  cursor: pointer;
                  a{
                      float: left;
                      display: block;
                      font-size: 13px;
                      color: #5a5a5a;
                      line-height: 28px;
                  }
                  span{
                      background: url(../img/select.jpg) -30px -37px no-repeat;
                      width: 11px;
                      height: 7px;
                      display: inline-block;
                      margin-left: 4px;
                  }
                  .nav_sele1{
                      position: absolute;
                      right: 0px;
                      top: 28px;
                      width: 250px;
                      padding: 12px 10px;
                      overflow: hidden;
                      word-break: break-all;
                      display: none;
                      background: #fff;
                      z-index: 100;
                      p{
                          line-height: 100px;
                      }
                  }
                  .nav_sele{
                      position: absolute;
                      left: 0px;
                      top: 28px;
                      display: none;
                      z-index: 100;
                      background: #fff;
                      padding: 0 21px 0 14px;
                      em{
                          display: block;
                          font-size: 13px;
                      }
                      img{
                          margin-top: 5px;
                      }
                  }
                  
              }
              i{
                  float: left;
                  font-size: 13px;
                  color: #d9d9d9;
              }
          }
      }
  }
}  
.header .nav .content .nav_list:hover{
  background: #fff;
} 
.header .nav .content .nav_list:hover span{
  background-position: -16px -28px;
}
.header .nav .content .nav_list:hover .nav_sele{
  display: block;
}
.header .nav .content .nav_list:hover .nav_sele1{
  display: block;
}
.header .nav .content .nav_list .nav_sele1>p>a:hover{
  color: #d70057;
}


// logo 搜索  热词 购物车
.search{
  width: 100%;
  height: 110px;
  background: #f2f2f2;
  .w1200{
      width: 1200px;
      height: 110px;
      margin:  auto;
      position: relative;
      .logo{
          position: absolute;
          top: 0;
          left: 0;
      }
      .sear{
          position: absolute;
          left: 334px;
          top: 24px;
          height:32px;
          padding: 4px 0 0 4px;
          .searching{
              float: left;
              width: 364px;
              padding: 0 0 0 10px;
              line-height: 32px;
              height: 32px;
              border: 3px solid #d70057;
              outline: none;
          }
          .searchBtn{
              float: left;
              background: url(../img/buy.png) -31px -4px no-repeat;
              width: 98px;
              height: 38px;
              border: none;
              outline: none;
              cursor: pointer;
          }
      }
      .word{
          position: absolute;
          left: 338px;
          top: 72px;
          width: 420px;
          height: 16px;
          a{
              font-size: 12px;
              color: #888888;
              margin-right: 10px;
          }
      }
      .cart{
          width: 248px;
          height: 32px;
          background: url(../img/buy.png) -238px -4px no-repeat #ffda73;
          position: absolute;
          top: 30px;
          right: 10px;
          font-size: 12px;
          line-height: 39px;
          span{
              width: 175px;
              height: 28px;
              background: #fff;
              color: black;
              display: block;
              line-height: 28px;
              text-align: center;
              position: absolute;
              top: 2px;
              right: 2px;
              i{
                  color: #d70057;
              }
          }
      }
  }
}

// 导航栏
.pull{
  width: 100%;
  height: 40px;
  background: #000;
  top: 0;
  z-index: 90;
  .pull_con{
      position: relative;
      width: 1200px;
      margin: 0 auto;
      li{
          float: left;
          a.index{
              width: 100px;
              height: 40px;
              line-height: 40px;
              text-align: center;
              display: block;
              float: left;
              color: #fff;
              background: #d70057;
          }
          a.pull_img{
              background: url(../img/buy.png) -187px -46px no-repeat;
              width: 122px;
              height: 46px;
              float: left;
              display: block;
              margin-top: -6px;
          }
      }
      .pull_li>a{
          float: left;
          width: 100px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          color: #fff;
          img{
              vertical-align: top;
          }
      }
      // 下拉隐藏
      .pullsub{
          display: none;
          position: absolute;
          top: 40px;
          left: 0;
          background: #fff;
          z-index: 100;
          .pullmain{
              padding: 12px 0;
              .box{
                  float: left;
                  // display: inline;
                  padding: 10px 12px;
                  height: 352px;
                  border-right: 1px dashed #aeaeae;
                  h3{
                      font-size: 12px;
                      font-weight: bold;
                      color: #d20d33;
                  }
                  .word{
                      width: 360px;
                      line-height: 15px;
                      font-size: 12px;
                      color: #fff;
                      padding-top: 12px;
                      overflow: hidden;
                      h3{
                          font-size: 12px;
                          color: #5e5e5e;
                      }
                      p{
                          margin-top: 18px;
                          a{
                              float: left;
                              margin: 0 15px 8px 0;
                              color: #5e5e5e;
                          }
                      }
                  }
              }
              .boximg{
                  float: left;
                  padding: 10px 10px;
                  h3{
                      font-size: 12px;
                      font-weight: bold;
                      color: #d20d33; 
                  }
              }
          }
      }
  }
}

.pull_li:hover .pullsub{
  display: block;
}
.pull_con .pull_li:hover a{
  color: #d70057;
}